/venv/
*.pyc
bpRNA_1m
.subopt_cache
carnaval_dataset
resources/results
resources/clusters.clstr
resources/data_splits
resources/data_structures/*
!resources/data_structures/test*.dbn
!resources/data_structures/train*.dbn
resources/mxfold2_models
resources/models_old
rnapar_raw_data
shaker_data
mxfold2_data
stanford_ribonenza_data
rna.ps
