/venv/
*.pyc
bpRNA_1m
.subopt_cache
carnaval_dataset
resources/results
resources/clusters*
resources/data_splits
resources/mxfold2_models
resources/models_old
Rfam_data
rnapar_raw_data
shaker_data
mxfold2_data
stanford_ribonenza_data
rna.ps
